<div class="container mt-4">
    <h2>Order Management</h2>
    <div class="form-group">
      <label for="status">Filter by Status:</label>
      <select class="form-control" id="status" [(ngModel)]="selectedStatus" (change)="onStatusChange($event)">
        <option value="pending">All</option>
        <option value="pending">Pending</option>
        <option value="accepted">Accepted</option>
        <option value="under-process">Under Process</option>
        <option value="completed">Completed</option>
        <option value="cancelled">Cancelled</option>
      </select>      
    </div>
  
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Order ID</th>
          <th>Status</th>
          <th>Scheduled Date</th>
          <th>Actual Wash Date</th>
          <th>Total Price</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ order.orderId }}</td>
          <td>{{ order.status }}</td>
          <td>{{ order.scheduledDate | date }}</td>
          <td>{{ order.actualWashDate | date }}</td>
          <td>{{ order.totalPrice | currency }}</td>
          <td><a [routerLink]="['/admin/order-management/order-details', order.orderId]">View</a></td>
        </tr>
      </tbody>
    </table>
    <router-outlet></router-outlet>
  </div>
  