<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">MENU</div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="wash-request">Wash Requests</a>
      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="wash-orders">My Orders</a>
      <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="user-reviews">User Reviews</a>
    </div>
  </div>


  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>