<div class="container p-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Make</th>
                  <th>Model</th>
                  <th>Year</th>
                  <th>License Plate</th>
                  <th>Image</th>
                  <th>User ID</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let car of cars; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ car.make }}</td>
                  <td>{{ car.model }}</td>
                  <td>{{ car.year }}</td>
                  <td>{{ car.licensePlate }}</td>
                  <td><img [src]="car.imageUrl" alt="Car Image" width="100" height="50"></td>
                  <td>{{ car.userId }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Add Car Form -->
    <div class="card mb-4">
      <div class="card-header">
        <h4>Add New Car</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="carForm" (ngSubmit)="onSubmitCar()">
          <div class="form-group row my-2">
            <label for="make" class="col-2 col-form-label">Make</label>
            <div class="col-10">
              <input type="text" id="make" formControlName="make" class="form-control" />
            </div>
          </div>
          <div class="form-group row my-2">
            <label for="model" class="col-2 col-form-label">Model</label>
            <div class="col-10">
              <input type="text" id="model" formControlName="model" class="form-control" />
            </div>
          </div>
          <div class="form-group row my-2">
            <label for="year" class="col-2 col-form-label">Year</label>
            <div class="col-10">
              <input type="number" id="year" formControlName="year" class="form-control" />
            </div>
          </div>
          <div class="form-group row my-2">
            <label for="licensePlate" class="col-2 col-form-label">License Plate</label>
            <div class="col-10">
              <input type="text" id="licensePlate" formControlName="licensePlate" class="form-control" />
            </div>
          </div>
          <div class="form-group row my-2">
            <label for="imageUrl" class="col-2 col-form-label">Image URL</label>
            <div class="col-10">
              <input type="text" id="imageUrl" formControlName="imageUrl" class="form-control" />
            </div>
          </div>
          <button type="submit" class="btn btn-success me-2" [disabled]="carForm.invalid">Add Car</button>
        </form>
      </div>
    </div>
  </div>
  